<div class="container">
  <h1>{{storyTitle}}</h1>
  <img [src]="image1" width=100%/>
  <p class="container__image-description">{{location}}</p>
  <h2>{{subtitle1}}</h2>
  <p>Ich begann meine Reise zum Mont Tendre in Le Brassus, indem ich für etwa 15 Minuten nach Les Bioux fuhr, wo ich mein Auto parkte und die Wanderung begann.</p>
  <div class="container__picture container__picture__left">
    <img [src]="image2" />
    <p>Ich brauchte etwa 2 Stunden, um den Gipfel zu erreichen. Nach einem kurzen Teil auf der Straße beginnt der Wanderweg mit einem Waldstück, der zu einem schönen Feld führt. Das Feld ist der erste Aussichtspunkt mit einem herrlichen Blick auf den Lac de Joux.</p>
  </div>
  <h2>{{subtitle2}}</h2>
  <p>Der Wanderweg geht auf diese Art weiter und die Landschaft wechselt zwischen großen offenen Feldern und dichten Wäldern.
    <br><br>
     Obwohl der Berg ein sehr beliebtes Ausflugsziel ist, habe ich nur ein paar Leute auf dem Weg angetroffen. Ich schätze es immer sehr, wenn die Wanderwege nicht überlaufen sind, da es dadurch deutlich einfacher ist die Natur zu genießen.
     Später, als ich auf dem Mont Tendre ankam, habe ich herausgefunden, warum dies so ist. Die Wanderer nehmen hauptsächlich die Route, welche auf der anderen Seite des Berges in Montricher startet.
  </p>
  <div class="container__picture container__picture__right">
    <p> Wer es bis zum Gipfel schafft, wird mit einem herrlichen Blick über das ganze Tal belohnt. Auf der einen Seite reicht der Blick bis weit über den Genfersee zu den Alpen. Auf der anderen Seite sieht man über das Jura Gebiet bis weit nach Frankreich.
Als ich jedoch oben ankam, versperrten mir die Wolken ein grosser Teil der Sicht. Allerdings wurde die Stimmung durch die Wolken positiv beeinflusst.</p>
    <img [src]="image3" width=20% />
  </div>
  <h2>{{subtitle3}}</h2>
  <p> Der Mont Tendre ist ein Berggipfel im Waadtländer Jura in der Westschweiz, etwa 15 km nordwestlich von Morges. Mit 1679 m ü. M. ist der Mont Tendre die höchste Erhebung im Schweizer Jura sowie eine der höchsten im gesamten Juragebirge. Einzig die Gipfel der Crêt de la Neige-Kette in Frankreich überragen ihn noch um etwa 40 Meter.<br>(Source: <a href="https://de.wikipedia.org/wiki/Mont_Tendre">https://de.wikipedia.org/wiki/Mont_Tendre</a>)</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13556.045855243172!2d6.301268143726534!3d46.59480486084388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c4db66c595df9%3A0x97762f653a9cdea0!2sMont+Tendre!5e1!3m2!1sde!2sch!4v1528322484219" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
