<div class="container">
  <h1>{{storyTitle}}</h1>
  <img [src]="image1" width=100%/>
  <p class="container__image-description">{{location}}</p>
  <h2>{{subtitle1}}</h2>
  <p>{{text1}}</p>
  <div class="container__picture container__picture__left">
    <img [src]="image2" />
    <p>{{text2}}</p>
  </div>
  <h2>{{subtitle2}}</h2>
  <p>{{text3}}</p>
  <div class="container__picture container__picture__right">
    <p>{{text4}}</p>
    <img [src]="image3" width=20% />
  </div>
  <h2>{{subtitle3}}</h2>
  <p>{{text5}}</p>

    <iframe class="container__map" [src]="cleanMapUrl()" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
