<div class="container">
  <h1>{{storyTitle}}</h1>
  <img [src]="image1" width=100%/>
  <p class="container__image-description">{{location}}</p>
  <h2>{{subtitle1}}</h2>
  <p>{{text1}}</p>
  <div class="container__picture container__picture__left">
    <img [src]="image2" />
    <p>{{text2}}</p>
  </div>
  <h2>{{subtitle2}}</h2>
  <p>{{text3}}</p>
  <div class="container__picture container__picture__right">
    <p>{{text4}}</p>
    <img [src]="image3" width=20% />
  </div>
  <h2>{{subtitle3}}</h2>
  <p>{{text5}}</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13556.045855243172!2d6.301268143726534!3d46.59480486084388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c4db66c595df9%3A0x97762f653a9cdea0!2sMont+Tendre!5e1!3m2!1sde!2sch!4v1528322484219" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
